new_announcement.html{% extends "layout.html" %}

{% block title %}New announcement{% endblock %}

{% block content %}
  <h1>New announcement</h1>
  <form action="/announcements/create" method="post">
    <p>Title:<br><input type="text" name="title"></p>
    <p>Place:<br><input type="text" name="place"></p>
    <p>Time:<br><input type="text" name="gametime"></p>
    <p>Players needed:<br><input type="number" name="players"></p>
    <p>Description:<br><textarea name="description" rows="3" cols="40"></textarea></p>
    <p><input type="submit" value="Save"></p>
  </form>
{% endblock %}
